{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-dark navbar-static-top bg-inverse">
        <div class="container">
          <a class="navbar-brand" href="/">gravena</a>
          <button type="button" class="navbar-toggler hidden-sm-up pull-xs-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            &#9776;
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <span>icon</span>
                <a class="nav-link" href="{% url 'sanitary_ware' %}">sanitary ware</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'acrylic_bathtubs' %}">acrylic bathtubs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'water_taps' %}">water taps</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'additional_items' %}">additional items</a>
              </li>
            </ul>

            <ul class="nav navbar-nav pull-xs-right">
            </ul>
          </div>
        </div>
      </nav>

{% endblock %}