.navbar {
  border-radius: 0px;
  .navbar-brand{
    width: 5em;
    height: 5em;
    line-height: 5em;
    text-align: center;
    font-size: 2em;
  }
  .nav-item{
    height: 10em;
    margin-right: 1em;
      .nav-link{
        width: 10em;
        height: 5em;
        line-height: 5em;
        text-align: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, .6);
        transition: color 1s;
      span{
        display: block;
        height: 1.5em;
        line-height: 3em;
        font-size: 2.5em;
      }
    }
    .nav-link:hover, .nav-link:focus{
      color: rgba(255, 255, 255, 1);
    }
  }
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }
  .nav-link{
    width: 40px;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}