
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////


.borderInspect{
  // border: 1px solid cyan;
}
body{
  background-color: #636363 !important;
}

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}


[hidden][style="display: block;"] {
  display: block !important;
}

// project color
$glassBG: rgba(0, 0, 0, .2);
$glassBG-dark: rgba(0, 0, 0, .4);


@import 'mainNav';
@import 'sideNav';
@import 'carousel';


