$side-nav-width: 250px;
$side-nav-click-width: $side-nav-width / 8;
$side-nav-translate: $side-nav-width - $side-nav-click-width;
$side-nav-container-width: $side-nav-width - $side-nav-click-width * 2;



.side-nav-translate{
	transform: translate(-$side-nav-translate, 0);
	transition: transform 1s;
	-webkit-transition: transform 1s; /* Safari */
}



#side-nav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: $side-nav-width - $side-nav-click-width;
	background-color: $glassBG-dark;
	z-index: 10;
	// transform: translate(0, 0);
	transition: transform 1s;
	-webkit-transition: transform 1s; /* Safari */
	// -webkit-animation-duration: 5s;

	.side-nav-container{
		overflow-y: scroll;
		width: $side-nav-container-width;
		height: 100%;
		// margin-right: 10px;
		background-color: transparent;

		.side-nav-content{
			height: inherit;

			.side-nav-item{
				height: 200px;
				margin-bottom: 10px;
				cursor: pointer;
				// background-color: transparent;
				padding: 10px 0;
			}

		}

	}




	.side-nav-container::-webkit-scrollbar {
	    display: none;
	}



	.side-nav-hover{
		position: absolute;
		right: -$side-nav-click-width;
		top: 110px;
		width: $side-nav-click-width;
		cursor: pointer;
	}



	.side-nav-item-title{
		position: relative;
	    bottom: 70px;
	    z-index: 1;
	    text-align: center;
	    color: white;
	    width: 100%;
	    line-height: 40px;
	    background-color: $glassBG;
	}



	// Animations
	@-webkit-keyframes scroll-ani {
	  0% {
	    opacity: 1;
	    top: 29%;
	  }
	  15% {
	    opacity: 1;
	    top: 50%;
	  }
	  50% {
	    opacity: 0;
	    top: 50%;
	  }
	  100% {
	    opacity: 0;
	    top: 29%;
	  }
	}

	@-moz-keyframes scroll-ani {
	  0% {
	    opacity: 1;
	    top: 29%;
	  }
	  15% {
	    opacity: 1;
	    top: 50%;
	  }
	  50% {
	    opacity: 0;
	    top: 50%;
	  }
	  100% {
	    opacity: 0;
	    top: 29%;
	  }
	}

	@keyframes scroll-ani {
	  0% {
	    opacity: 1;
	    top: 29%;
	  }
	  15% {
	    opacity: 1;
	    top: 50%;
	  }
	  50% {
	    opacity: 0;
	    top: 50%;
	  }
	  100% {
	    opacity: 0;
	    top: 29%;
	  }
	}

	// Mouse & Message Styles

	// The Scroll Link
	.mouse-scroll {
	  display: inline-block;
	  // line-height: 18px;
	  // font-size: 13px;
	  // font-weight: normal;
	  color: #7F8C8D;
	  color: #FFF;
	  // font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  // letter-spacing: 2px;
	  margin-top: 10%;
	  margin-left: 10px;
	  text-decoration: none;
	  overflow: hidden;
	  -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg);
	  
	  // The Mouse
	  .mouse {
	    position: relative;
	    display: block;
	    width: 35px;
	    height: 50px;
	    margin-top: 10px; 
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    border: 1px solid #FFF;
	    border-radius: 23px;
	    
	    // Scroll Indicator
	    .mouse-movement { 
	      position: absolute;
	      display: block;
	      top: 29%;
	      left: 50%;
	      width: 8px;
	      height: 8px;
	      margin: -4px 0 0 -4px;
	      background: #FFF;
	      border-radius: 50%;
	      -webkit-animation: scroll-ani 4s linear infinite;
	      -moz-animation: scroll-ani 4s linear infinite;
	      animation: scroll-ani 4s linear infinite;
	    }
	    
	  }

	}

}




@media (max-width: 768px) {

	.modal-btn-row {
		bottom: 40px !important;
	}

	.side-nav-hover{
		top: 70px !important;
	}

	.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
		top: 70%;
	}

}

