<div class="carousel-inner">

  <div class="item active">
    <!-- Set the first background image using inline CSS below. -->
    <div class="fill" 
          style="background-image:url('http://placehold.it/1900x1080&text=Slide 1');">
      <section class="row borderInspect discreption-row">
        <div class="col-md-10">
          <div class="row borderInspect">
            <div class="col-md-4 col-md-offset-4 pull-right 
                        discreption-col animated fadeIn
                        borderInspect">
              <h2>model name</h2>
              <p>this is discreption of this modlethis is discreption of this 
                  modlethis is discreption of this modlethis
                  this is discreption of this modlethis is discreption of this modlethis
                  this is discreption of this modlethis is discreption of this modle
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="row borderInspect modal-row">
        <div class="col-md-10">
          <div class="row borderInspect">
            <div class="col-md-4 col-md-offset-4 pull-right modal-col borderInspect">
              <a class="btn btn-default btn-lg borderInspect" 
                 id="demo01" 
                 href="#animatedModal">
                 Technical Drawing
              </a>
              <!-- I removed the include from here to solve the z-index
              and past the code below in base.html -->
              <!-- {#% include 'pages/modal.html' %} -->
            </div>
          </div>
        </div>
      </section>
    <!-- <div class="carousel-caption">
      <h2>Caption 1</h2>
    </div> -->
  </div>

  <div class="item">
    <!-- Set the second background image using inline CSS below. -->
    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide 2');"></div>
    <div class="carousel-caption">
      <h2>Caption 2</h2>
    </div>
  </div>

  <div class="item">
    <!-- Set the third background image using inline CSS below. -->
    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide 3');"></div>
    <div class="carousel-caption">
      <h2>Caption 3</h2>
    </div>
  </div>

  <div class="item">
    <!-- Set the third background image using inline CSS below. -->
    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide 4');"></div>
    <div class="carousel-caption">
      <h2>Caption 4</h2>
    </div>
  </div>

  <div class="item">
    <!-- Set the third background image using inline CSS below. -->
    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide 5');"></div>
    <div class="carousel-caption">
      <h2>Caption 5</h2>
    </div>
  </div>

  <div class="item">
    <!-- Set the third background image using inline CSS below. -->
    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide 6');"></div>
    <div class="carousel-caption">
      <h2>Caption 6</h2>
    </div>
  </div>

  <div class="item">
    <!-- Set the third background image using inline CSS below. -->
    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide 7');"></div>
    <div class="carousel-caption">
      <h2>Caption 7</h2>
    </div>
  </div>

  <div class="item">
    <!-- Set the third background image using inline CSS below. -->
    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide 8');"></div>
    <div class="carousel-caption">
      <h2>Caption 8</h2>
    </div>
  </div>

  <div class="item">
    <!-- Set the third background image using inline CSS below. -->
    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide 9');"></div>
    <div class="carousel-caption">
      <h2>Caption 9</h2>
    </div>
  </div>
</div>