{% include 'pages/sideNav.html' %}
<div id="fullPageCarousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <div class="carousel-inner">
      {% for product in products %}
        <div class="item {% if forloop.counter0 ==  0 %} active {% endif %}">
          <!-- Set the first background image using inline CSS below. -->
            <div class="fill"
                  style="background-image:url(' {{ product.main_image.url }} ');
                  background-size: contain;
                  background-repeat: no-repeat;
                  ">
              <section class="row borderInspect discreption-row">
                <div class="col-md-10">
                  <div class="row borderInspect">
                    <div class="col-md-4 col-md-offset-4 pull-right
                                discreption-col animated fadeIn
                                borderInspect">
                      <h2>{{ product.name }}</h2>
                      <p> {{ product.description }} <p>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <section class="row borderInspect modal-row">
              <div class="col-md-10">
                <div class="row borderInspect">
                  <div class="col-md-4 col-md-offset-4 pull-right modal-col borderInspect">
                    <a class="btn btn-default btn-lg borderInspect"
                       id="demo01"
                       href="#animatedModal">
                       Technical Drawing
                    </a>
                    <!-- I removed the include from here to solve the z-index
                    and past the code below in base.html -->
                    <!-- {#% include 'pages/modal.html' %} -->
                  </div>
                </div>
              </div>
            </section>
          <!-- <div class="carousel-caption">
            <h2>Caption 1</h2>
          </div> -->
        </div>
      {% endfor %}

    </div>

  </div>
</div>
