<nav class="navbar navbar-light navbar-static-topß">
  <div class="container">

    <a class="navbar-brand borderInspect" href="/">gravena</a>
    <button type="button" class="navbar-toggler hidden-sm-up pull-xs-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
      &#9776;
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item borderInspect">
          <a class="nav-link borderInspect" href="{% url 'sanitary_ware' %}"> <span class="glyphicon glyphicon-lamp borderInspect"></span> sanitary ware</a>
        </li>
        <li class="nav-item borderInspect">
          <a class="nav-link" href="{% url 'acrylic_bathtubs' %}"> <span class="glyphicon glyphicon-lamp borderInspect"></span> acrylic bathtubs</a>
        </li>
        <li class="nav-item borderInspect">
          <a class="nav-link" href="{% url 'water_taps' %}"> <span class="glyphicon glyphicon-lamp borderInspect"></span> water taps</a>
        </li>
        <li class="nav-item borderInspect">
          <a class="nav-link" href="{% url 'additional_items' %}"> <span class="glyphicon glyphicon-lamp borderInspect"></span> additional items</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
