<!-- <a class="btn btn-default btn-lg borderInspect" 
   id="demo01" 
   href="#animatedModal">
   Technical Drawing
</a>
 -->
 
<!--DEMO01-->
<div id="animatedModal">
    <!--THIS IS IMPORTANT! to close the modal, 
    the class name has to match the name given on the ID  
    class="close-animatedModal" -->
    <div class="row">
      <div class="col-md-12">
        <div class="close-animatedModal pull-right"> 
          <span>X</span>
        </div>
      </div>
    </div>
        
    <div class="modal-content">
      <!--Your modal content goes here-->
      <div class="row row-container">
        <div class="col-md-8 col-md-offset-2 borderInspect">
          <div class="row borderInspect">
            <div class="col-md-4 borderInspect">
              <h2>test</h2>
            </div>
            <div class="col-md-4 borderInspect">
              <h2>test</h2>
            </div><div class="col-md-4 borderInspect">
              <h2>test</h2>
            </div>
          </div>
        </div>
      </div>        
    </div>
</div>

