<nav id="side-nav" class="container borderInspect">
  
  <div class="side-nav-container">
    <div class="side-nav-content borderInspect">
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
    <div class="col-xs-12 side-nav-item borderInspect"></div>
  </div>
  </div>

  <div class="side-nav-hover"></div>

</nav>
