<nav id="side-nav" class="container borderInspect">

  <div class="side-nav-container">
    <div class="side-nav-content borderInspect">
      {% for product in products %}
        <div class="col-xs-12 side-nav-item borderInspect"
             data-target="#myCarousel"
             data-slide-to="{{ forloop.counter0  }}">
             <img src="{{ product.main_image_thumbnail.url }}"
                  alt=""
                  class="img-responsive" />

              <h5 class="side-nav-item-title">{{ product.name }}</h5>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="side-nav-hover">
    <a class="mouse-scroll" href="#"> 
      <span class="mouse">
        <span class="mouse-movement"> 
        </span>
      </span>
    </a>
  </div>
</nav>
