body {
  background-color: #404040 !important; }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

[hidden][style="display: block;"] {
  display: block !important; }

.navbar {
  z-index: 1;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.8); }
  .navbar .collabs-botton {
    color: white;
    font-size: 1.5em; }
  .navbar .navbar-brand {
    height: 120px;
    color: white; }
  .navbar .nav-item {
    margin-top: 10px; }
    .navbar .nav-item .nav-link {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.6);
      transition: color 1s;
      background-color: transparent; }
      .navbar .nav-item .nav-link .glyph svg {
        width: 4em;
        height: 4em; }
      .navbar .nav-item .nav-link .glyph:hover {
        background-color: rgba(150, 150, 150, 0.47); }
    .navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link:visited {
      color: white; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid white; }
  .nav-link {
    width: 40px; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

.side-nav-translate {
  transform: translate(-218.75px, 0);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  /* Safari */ }

#side-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 218.75px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  /* Safari */ }
  #side-nav .side-nav-container {
    overflow-y: scroll;
    width: 187.5px;
    height: 100%;
    background-color: transparent; }
    #side-nav .side-nav-container .side-nav-content {
      height: inherit; }
      #side-nav .side-nav-container .side-nav-content .side-nav-item {
        height: 200px;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 10px 0; }
  #side-nav .side-nav-container::-webkit-scrollbar {
    display: none; }
  #side-nav .side-nav-hover {
    position: absolute;
    right: -31.25px;
    top: 150px;
    width: 31.25px;
    cursor: pointer; }
  #side-nav .side-nav-item-title {
    position: relative;
    bottom: 70px;
    z-index: 1;
    text-align: center;
    color: white;
    width: 100%;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2); }

@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }
  #side-nav .mouse-scroll {
    display: inline-block;
    color: #7F8C8D;
    color: #FFF;
    margin-top: 10%;
    margin-left: 10px;
    text-decoration: none;
    overflow: hidden;
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Safari */
    transform: rotate(270deg); }
    #side-nav .mouse-scroll .mouse {
      position: relative;
      display: block;
      width: 35px;
      height: 50px;
      margin-left: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #FFF;
      border-radius: 23px; }
      #side-nav .mouse-scroll .mouse .mouse-movement {
        position: absolute;
        display: block;
        top: 29%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        background: #FFF;
        border-radius: 50%;
        -webkit-animation: scroll-ani 4s linear infinite;
        -moz-animation: scroll-ani 4s linear infinite;
        animation: scroll-ani 4s linear infinite; }

.discreption-row {
  position: relative;
  top: 150px;
  color: white; }
  .discreption-row .discreption-col {
    background: rgba(0, 0, 0, 0.2);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    /* Standard syntax */
    padding-top: 10px;
    padding-bottom: 10px; }

.modal-btn-row {
  position: absolute;
  bottom: 100px;
  width: 80%; }

.tech-btn {
  color: white;
  background-color: rgba(58, 58, 58, 0.5);
  border-radius: 0;
  border: none;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  /* Safari */ }

.btn:focus, .btn:hover, .btn:visited, .btn:active, .btn:active:focus {
  color: white;
  background-color: rgba(58, 58, 58, 0.8);
  outline: none;
  outline-offset: 0px; }

.number {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4); }
  .number p {
    height: 30px;
    line-height: 30px; }

.items-row {
  margin-top: 40px; }
  .items-row .item-col {
    height: 400px;
    text-align: center; }
    .items-row .item-col .item-botton {
      background-color: black;
      width: 300px;
      height: 300px;
      padding: 0;
      margin: 0;
      border: 0;
      opacity: .6;
      -webkit-transition: opacity 1s;
      /* Safari */
      transition: opacity 1s; }
    .items-row .item-col .item-botton:hover {
      opacity: 1; }
    .items-row .item-col .product-description {
      text-align: left;
      margin-top: 10px;
      height: 50px;
      line-height: 1.4em;
      color: white; }
